/* Default: desktop view*/
:root {
    --desktop-index-image: url('../assets/home/background-home-desktop.jpg');
    --tablet-index-image: url('../assets/home/background-home-tablet.jpg');
    --mobile-index-image: url('../assets/home/background-home-mobile.jpg');
}

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');


.homepage {
    background: var(--desktop-index-image) no-repeat center center fixed; 
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
    width: 100vw;
}

.info {
    position: absolute;
    top: 38vh;
    color: white;
    position: absolute;
    left: 165px;
    width: 450px;
    height: 382px;
}

.first-phrase {
    display: block;
    letter-spacing: 4.725px;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 28px;
}

.space-text {
    font-family: 'Bellefair', serif;
    font-size: 150px;
}
.space-paragraph {
    font-family: Barlow;
    font-size: 18px;
    line-height: 32px;
}

.explore {
    font-family: 'Bellefair', serif;
    font-size: 32px;
}

#circle {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 18vh;
    right: 13vw;
    background: white;
    width: 274px;
    height: 274px;
    border-radius: 50%;
}

/* Tablet view */
@media(max-width:1020px) {
    .homepage{
        height: 100%;
        display: flex;
        align-items: center;
        gap: 30vh;
        flex-direction: column;
        background: var(--tablet-index-image) no-repeat;
        background-position:center ;
        background-size: cover;
    }

    .info {
        padding-top: 30vh;
        position: static;
        text-align: center;
    }

    #circle {
        position: static;
        margin-bottom: 5vh;
    }
}


/* Phone view */