/* Default: desktop view*/
:root {
    --desktop-index-image: url('../assets/home/background-home-desktop.jpg');
    --tablet-index-image: url('../assets/home/background-home-tablet.jpg');
    --mobile-index-image: url('../assets/home/background-home-mobile.jpg');
}

body {
    background-image: var(--desktop-index-image);
    margin: 0; padding: 0;
}


/* Tablet view */

/* Phone view */